-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- DropForeignKey
ALTER TABLE "User" DROP CONSTRAINT "User_referredBy_fkey";

-- DropForeignKey
ALTER TABLE "Wallet" DROP CONSTRAINT "Wallet_userId_fkey";

-- DropForeignKey
ALTER TABLE "Transaction" DROP CONSTRAINT "Transaction_userId_fkey";

-- DropForeignKey
ALTER TABLE "Spin" DROP CONSTRAINT "Spin_userId_fkey";

-- DropForeignKey
ALTER TABLE "AffiliateEarning" DROP CONSTRAINT "AffiliateEarning_userId_fkey";

-- DropForeignKey
ALTER TABLE "AffiliateEarning" DROP CONSTRAINT "AffiliateEarning_referredUserId_fkey";

-- DropForeignKey
ALTER TABLE "PremiumSubscription" DROP CONSTRAINT "PremiumSubscription_userId_fkey";

-- DropForeignKey
ALTER TABLE "PremiumSubscription" DROP CONSTRAINT "PremiumSubscription_planId_fkey";

-- DropForeignKey
ALTER TABLE "InternalTransfer" DROP CONSTRAINT "InternalTransfer_senderId_fkey";

-- DropForeignKey
ALTER TABLE "InternalTransfer" DROP CONSTRAINT "InternalTransfer_recipientId_fkey";

-- DropForeignKey
ALTER TABLE "CommunitySentiment" DROP CONSTRAINT "CommunitySentiment_userId_fkey";

-- DropIndex
DROP INDEX "User_username_key";

-- DropIndex
DROP INDEX "User_affiliateCode_key";

-- DropIndex
DROP INDEX "Wallet_userId_key";

-- AlterTable
ALTER TABLE "public"."User" DROP COLUMN "affiliateCode",
DROP COLUMN "firstName",
DROP COLUMN "isActive",
DROP COLUMN "isBanned",
DROP COLUMN "isVerified",
DROP COLUMN "lastName",
DROP COLUMN "password",
DROP COLUMN "premiumExpiresAt",
DROP COLUMN "referredBy",
DROP COLUMN "role",
DROP COLUMN "username",
DROP COLUMN "verificationBadge",
ALTER COLUMN "email" SET NOT NULL,
DROP COLUMN "kycStatus",
ADD COLUMN     "kycStatus" TEXT NOT NULL DEFAULT 'PENDING';

-- AlterTable
ALTER TABLE "public"."Wallet" DROP CONSTRAINT "Wallet_pkey",
DROP COLUMN "createdAt",
DROP COLUMN "id",
DROP COLUMN "totalDeposited",
DROP COLUMN "totalLost",
DROP COLUMN "totalWithdrawn",
DROP COLUMN "totalWon",
ADD CONSTRAINT "Wallet_pkey" PRIMARY KEY ("userId");

-- DropTable
DROP TABLE "Transaction";

-- DropTable
DROP TABLE "Spin";

-- DropTable
DROP TABLE "AffiliateEarning";

-- DropTable
DROP TABLE "PremiumPlan";

-- DropTable
DROP TABLE "PremiumSubscription";

-- DropTable
DROP TABLE "InternalTransfer";

-- DropTable
DROP TABLE "CommunitySentiment";

-- DropTable
DROP TABLE "SystemConfig";

-- DropEnum
DROP TYPE "UserRole";

-- DropEnum
DROP TYPE "KycStatus";

-- DropEnum
DROP TYPE "TransactionType";

-- DropEnum
DROP TYPE "TransactionStatus";

-- DropEnum
DROP TYPE "BetType";

-- DropEnum
DROP TYPE "VolatilityType";

-- DropEnum
DROP TYPE "ColorType";

-- DropEnum
DROP TYPE "SpinOutcome";

-- DropEnum
DROP TYPE "AffiliateTier";

-- DropEnum
DROP TYPE "SubscriptionStatus";

-- DropEnum
DROP TYPE "FeePayer";

-- DropEnum
DROP TYPE "TransferStatus";

-- DropEnum
DROP TYPE "SentimentType";

-- AddForeignKey
ALTER TABLE "public"."Wallet" ADD CONSTRAINT "Wallet_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

